.heading {
  width: 25px;
  color: aqua;
  height: 25px;
}

#userForm {
  display: flex;
  align-items: center;
  border: 5px solid black;
}

body {
  color: aqua;
}

#userSearch {
  height: 25px;
  width: 250px;
}

#btnUser {
  height: 25px;
  margin-left: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  display: none;
}

#userResults {
  display: flex;
  flex-wrap: wrap;
}
